@import '../common.less';
.search-body {
  width: 100%;
  .search-hot-title {
    box-sizing: border-box;
    padding: 0 .3rem;
    height: .8rem;
    line-height: .8rem;
  }
  .search-img {
    overflow: hidden;
    width: 100%;
    height: 28%;
    background: red;
    img {
      width: 11.24rem;
    }
  }
  .search-option {
    .search-hot {
      margin: .12rem .2rem;
      .search-hot-item {
        float: left;
        padding: .22rem .2rem .14rem;
        margin: .1rem;
        border-width: .02rem;
        border-style: solid;
        font-size: .25rem;
        text-align: center;
      }
      .bg-first {
        border-color: rgb(140, 218, 222);
        background: rgb(232, 246, 246);
      }
      .bg-second {
        border-color: rgb(252, 160, 167);
        background: rgb(249, 234, 234);
      }
      .bg-third {
        border-color: rgb(187, 208, 144);
        background: rgb(242, 246, 233);
      }
      .bg-fourthly {
        border-color: rgb(250, 194, 136);
        background: rgb(248, 242, 236);
      }
    }
    .common-class {
      font-size: .22rem;
      .common-class-title {
        box-sizing: border-box;
        padding: 0 .3rem;
        height: .8rem;
        line-height: .8rem;
      }
      ul {
        padding-left: .32rem;
        font-size: 0;
        li {
          display: inline-block;
          padding: .16rem;
          font-size: .22rem;
          color: rgba(0, 0, 0, .54);
          background: #f5f5f5;
        }
        li.margin {
          margin-right: .15rem;
          margin-bottom: .1rem;
        }
      }
    }
  }
}