@import '../iconfont.css';
.search-header {
  display: flex;
  background: #f2f2f2;
}
.search-header .search-header-left {
  width: 1rem;
}
.search-header .search-header-left .header-back {
  margin: 0 .2rem;
  width: .52rem;
  height: .84rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAABfUlEQVR4AWL4//8/oH1zzA4gCMJgbNv239i2beP+R8gXczpmV79XB9ja3UEDDJCAIAQhCEF/TBAgCEEIUkSKFrEoahD0VFCdOLtmWxQh6E5Okzh7xCyC7n85T+lyL0jREJDT434NMr6cAde7mLHmXDDkfptX1AfkjPk+B9lyRn0fFO01Z8r9SVrRGJAzLaL9CrJ/q4XvlnPBX5IT4/qyqqgJyFkWcX5v8/aXsyKSXKc7FLUBORuGHAeC7K18y5DjQ5CiOiBnU6T6zSjav9WWSPebcrV3qz2R4Tcnba85hyLTb9Le/nL2RY7fqsbLcnJdl30MOSeiwG9dzD4hX1DitnCoSBDlhpwy15VVRY9YDvxWhd/xYAjiF2ORLnYviG3+45dTDopcNbisftvvRrrjlQmzNAeCSLmStP9OSZR9KBx+6cK95LH0TPMC7S80UNGCRxMnbcA0kg8iiFEEhlkYh2Kg7vd/STvPj2Qy1NvKUO+PgCAEIQhBCEIQghAE53kdVfEUUHFYAAAAAElFTkSuQmCC);
  background-size: 0.52rem;
  background-repeat: no-repeat;
  background-position: center;
}
.search-header .search-header-middle {
  flex: 1;
  height: .84rem;
}
.search-header .search-header-middle input {
  display: block;
  box-sizing: border-box;
  padding: 0 .2rem;
  margin: .16rem 0;
  width: 100%;
  height: .52rem;
  line-height: .52rem;
  border-radius: .04rem;
  border: .02rem solid #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .32rem;
}
.search-header .search-header-right {
  height: .84rem;
  line-height: .84rem;
}
.search-header .search-header-right .search-header-search {
  height: .84rem;
  line-height: .84rem;
  text-align: center;
}
.search-header .search-header-right .search-header-search .header-search {
  display: inline-block;
  margin: 0 .2rem;
  width: .62rem;
  font-size: .46rem;
}
