#tf {
  position: relative;
  width: 100vw;
  background-color: #f2f2f2;
}
.header-top {
  display: flex;
  align-items: center;
  width: 100%;
  .header-logo {
    padding: 0 3.2vw 0 3.45vw; //
    img {
      width: 6.04vw;
    }
  }
  .header-search-wrapper {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 2vw;
    padding-top: 2.2vw;
    margin-top: 1vw;
    border-radius: 3px;
    font-size: 3.86vw;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    color: rgba(0, 0, 0, .3);
    i {
      margin-right: 2vw;
      display: block;
      font-size: 4vw;
    }
  }
  .header-user {
    margin-top: .4vw;
    margin-left: 3.6vw;
    margin-right: 3.6vw;
    i {
      font-size: 5.4vw
    }
  }
}
