@import '../common.less';
@import '../mixins.less';
@import '../transition.less';
#tf {
  .header {
    position: fixed;
    z-index: 99;
    width: 100%;
  }
  .mask-layer {
    z-index: 98;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
  }
  .active {
    color: rgb(237, 91, 0);
    border-bottom: 2px solid rgb(237, 91, 0);
    box-sizing: border-box;
  }
}
.header {
  background: @bgColor;
  .header-top {
    position: relative;
    display: flex;
    padding: .08rem 0 .09rem;
    .header-logo {
      .left;
      .logo {
        margin: .16rem .28rem;
        width: .5rem;
        height: .32rem;
      }
    }
    .header-search-wrapper {
      position: relative;
      flex: 1;
      box-sizing: border-box;
      padding-left: .64rem;
      height: .68rem;
      line-height: .68rem;
      border: .02rem solid #e5e5e5;
      border-radius: .06rem;
      font-size: .32rem;
      color: rgba(0, 0, 0, .3);
      background: #fff;
      .icon-search {
        position: absolute;
        top: 0;
        left: 0;
        width: .64rem;
        text-align: center;
      }
    }
    .header-user {
      .left;
      .icon-user {
        display: block;
        margin: 0 .22rem;
        width: .6rem;
        height: .68rem;
        line-height: .68rem;
        font-size: .44rem;
        text-align: center;
      }
    }
  }
  .header-list {
    position: relative;
    ::-webkit-scrollbar{
      width:0;
      height:0;
    }
    .nav-display {
      z-index: 5;
      position: absolute;
      right: 0;
      top: 0;
      width: .68rem;
      height: .58rem;
      line-height: .58rem;
      text-align: center;
      box-shadow: -15px 0 15px 0 @bgColor;
      background: @bgColor;
      .icon-arrow {
        display: inline-block;
        width: .4rem;
        height: .4rem;
        line-height: .4rem;
        text-align: center;
        font-size: .24rem;
        transition: transform .2s;
        transform: rotateZ(0deg);
        transform-origin: center;
        color: rgb(60, 60, 60);
      }
      .unfold {
        transform: rotateZ(180deg);
      }
    }
    .nav {
      white-space: nowrap;
      overflow-x: auto;
      font-size: 0;
      .nav-item {
        display: inline-block;
        padding: 0 .25rem;
        span {
          display: inline-block;
          line-height: .56rem;
          font-size: .28rem;
          color: rgb(116, 116, 116);
        }
      }
      .nav-item-interval {
        padding-right: .76rem;
        display: inline-block;
      }
    }
    .nav-layer {
      padding: 0 .25rem;
      overflow: hidden;
      .title {
        padding-top: .25rem;
        line-height: .34rem;
        font-size: .29rem;
      }
      .btn-wrap {
        margin-top: .34rem;
        font-size: 0;
        .btn-item {
          display: inline-block;
          box-sizing: border-box;
          margin-right: .14rem;
          margin-bottom: .24rem;
          width: 23%;
          height: .6rem;
          line-height: .6rem;
          border: 1px solid #e5e5e5;
          border-radius: .08rem;
          font-size: .26rem;
          text-align: center;
          background: #fff;
        }
        .btn-active {
          background: #fde0d5;
          border-color: #ff6700;
          color: #ff6700;
        }
      }
    }
  }
}