@import '../common.less';
@import '../iconfont.css';
@import '../border.css';
@baseFont: 37.5;
#footer {
  z-index: 99;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 10rem;
  box-shadow: 0 3rem / @baseFont 14rem / @baseFont 2rem / @baseFont rgba(0, 0, 0, .12);
}
#footer .active {
  color: #ff6700;
}
.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42rem / @baseFont;
  background: #fff;
  .footer-item {
    float: left;
    width: 25%;
    height: 29.25rem / @baseFont;
    text-align: center;
    color: @color;
    .item-icon {
      display: inline-block;
      margin: 0 auto 3.75rem / @baseFont;
      font-size: 15.375rem / @baseFont;
    }
    p {
      font-size: 12rem / @baseFont;
    }
  }
}